body {
    background-color: #111111;
}

.cell {
    background-color: gold;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 20% repeat(3, 1fr);
    grid-template-areas:
            "header header"
            "video video"
            "w1 w2"
            "w3 w4"
            "w5 w6"
            "w7 w8";
    justify-items: center;
    align-items: stretch;
    grid-column-gap: 10%;
    grid-row-gap: 5%;
    height: 100%
}

@media only screen and (min-width: 600px) {
    #grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 5% 20% 3fr 1fr;
        grid-template-areas:
                "asd header das"
                "w1 w2 w3"
                "video video video"
                "w4 w8 w9";
        justify-items: center;
        align-items: stretch;
        /*grid-column-gap: 10%;*/
        grid-row-gap: 5%;
        height: 100%
    }
}


.w1 {
    grid-area: w1;
}

.w2 {
    grid-area: w2;
}

.w3 {
    grid-area: w3;
}


.speedometer {
    width: 200px;
    height: 100px;
    border-radius: 200px 200px 0 0;
    background: #9e978e;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.pin {
    width: 10px;
    height: 80px;
    background: #000000;
    transform-origin: bottom center;
}